<apex:page standardController="Opportunity" tabstyle="Opportunity"> 
    <flow:interview name="Clone_French_Opportunity" finishlocation="{!URLFOR('/'+ Opportunity.Id)}">
        <apex:param name="varOpportunityId" value="{!Id}"/>
    </flow:interview>
</apex:page>