<apex:page standardController="Opportunity" tabstyle="Opportunity"> 
    <flow:interview name="New_Quote" finishlocation="{!URLFOR('/'+ Opportunity.Id)}">
        <apex:param name="varOpportunityId" value="{!Id}"/>
        <apex:param name="varType" value="Proforma"/>
        <apex:param name="varUserId" value="{!$User.Id}"/> 
    </flow:interview>
</apex:page>