<apex:page standardController="Account" tabstyle="Account"> 
    <flow:interview name="New_Account_Flow" finishlocation="{!URLFOR('/'+ Account.Id)}">
        <apex:param name="varUserId" value="{!$User.Id}"/> 
    </flow:interview>
</apex:page>