<apex:page >
<h2>
    &nbsp;</h2>
<h2>
    ORIGINAL BTC GROUP NEWS</h2>
<div>
    <span style="color:#696969;"><strong><span style="font-size:16px;">New Product Launched</span></strong></span></div>
<div>
    <span style="color:#000;"><span style="font-size:14px;">13th August 2014</span></span></div>
<div>
    &nbsp;</div>
<div>
    This is information about an example product which has been launched. You can add the link to view in Salesforce.</div>
<div>
    &nbsp;</div>
<div>
    <a href="https://emea.salesforce.com/01t20000003w2I5?srPos=1&amp;srKp=01t">View in Salesforce!</a></div>
<div>
    &nbsp;</div>
<div>
    <img alt="" src="http://www.originalbtc.com/upload/U363032_u362900_hectorbibendumtableblue.jpg" style="width: 170px; height: 170px;" /></div>
<div>
    &nbsp;</div>
<div>
    <div>
        <font color="#696969" size="3"><b>Paris Showroom Open</b></font></div>
    <div>
        <span style="font-size: 14px; color: rgb(0, 0, 0);">13th August 2014</span></div>
    <div>
        &nbsp;</div>
    <div>
        This is information about...</div>
</div>


</apex:page>